# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\labs\6330401564-java-labs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
